body {
  margin: 0px;
  padding: 0px;
  background: url(digital_binary_data_0.webp);
  background-size: auto;
  font-family: sans-serif;
}

.loginbox{
  width: 300px;
  height: 400px;
  background: whitesmoke;
  color: black;
  top: 44%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 55px 30px 70px 30px;
}

.user-image{
  width: 110px;
  height: 110px;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
}

h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.loginbox label{
  margin: 0px;
  margin-top: -5px;
  padding: 0px;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 30px;
  color: rgb(34, 16, 16);
  font-size: 18px;
  font-weight: bold;
}

.loginbox input[type="reset"] {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: #008080;
  color: azure;
}

.loginbox form button[type="submit"] {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  background-color:#008080;
  color: azure;
}

.loginbox form button[type="submit"]:hover,input[type="reset"]:hover {
  background-color: rgb(29, 7, 7);
}

.loginbox form a.extra {
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: cornflowerblue;
}

.loginbox form a:hover {
  color: rgb(26, 51, 128);
}

